@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    
    height: 100%;
    width: 100%;
}
.container #app-container {
    background-color: dark blue;
}
#Navbar{
    position: sticky;
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}
#a-character{
    margin-top: 10vmin;

    width: 70%;
    border: 3vmin solid black;
    border-radius: 5vmin;
    background-color: gainsboro;
    

    

}

.Carousel-text{
    color: limegreen;
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-top: -20%;

    
}
.carousel-control-prev-icon {
    color: black;
}
.carousel-control-next-icon {
    color: black;
}
.active-carousel-item {
    background-color: grey;
}

#a-character img{
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(max-width:520){
    #a-character img{
        width: 60%;
        float: none;
    }
}
#app-container {
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    

}

#home-page{
    text-align: center;
    border: 1vmin solid black;
    border-radius: 5vmin;
    background-color: gray;
    height: 50%;
    width: 70%;
}   